
clean~
clean
*.swp
*.egg-info/
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
flow/build/
flow/inspiration/
float/082218_20190416_1455_data.txt
float/082905_20190416_1443_data.txt

# eclipse related files 
.project
.pydevproject
.settings/

# pycharm files
.idea/

# data files
*.nc
*.bag

# fig and movies
*.png
!floatdyn/float_displacement.png
!instrum/rtsys_mission_schedule.tiff
*.jpg
!phd/schematic.jpg
!phd/cmap.jpg
*.pdf
*.mp4
*.wav
*.p

# openoffice
*.odp#

# jupyter
.ipynb*

# logins
*.login

# dask
dask-worker-space
